#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Development;
Version=1.0
Type=Application
Name=DEMoCap
GenericName=Drag[en]gine Motion Capture
Comment=Motion Capture using VR hardware
Exec=democap
TryExec=delauncher
MimeType=application/democap;
Icon=democap
NoDisplay=false
StartupNotify=false
Terminal=false
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
